.contact-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    @include center();
    &__decoration-text-container {
        position: absolute;
    }
    &__content-wrapper {
        position: relative;
        width: 100%;
        max-width: 1152px;
        z-index: 2;
        margin: 120px 0 0 15%;
        @include smaller-than-1215 {
            margin: 40px;       
        }
        .contact-heading {
            color: $color1;
            margin-bottom: 25px;
        }
        .contact-subheading {
            margin-bottom: 40px;
        }
        .contact-paragraph {
            margin-bottom: 40px;
            width: 330px;
        }
        .continue-button-contact {
            margin-bottom: 70px;
        }
    }
    &__img-wrapper {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        @include center-right();
        .contact-img {
            // height: 100%;
            
            height: 800px;
            transform: translateX(15%);
        }
    }
}