.navigation-section {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    @include center-between();
    background: rgba($color: #000, $alpha: 1);
    padding-right: 20px;
    &__logo-container {
        position: relative;
        .logo-wrapper {
            width: 60px;
            height: 60px;
            margin: 20px;
            display: inline-block;
            img {
                height: 60px;
            }
        }
    }
    &__button-container {
        width: 50px;
        height: 50px;
        background: transparent;
        border: none;
        @include center();
        display: none;
        z-index: 10;
        @include smaller-than-960 {
            display: flex;
        }
        span {
            width: 70%;
            background-color: $color1;
            display: inline-block;
            height: 2px;
            position: relative;
            transition: .2s;
            &::before,
            &::after {
                width: 100%;
                background-color: $color1;
                display: inline-block;
                height: 2px;
                position: absolute;
                left: 0;
                content: '';
                transition: .2s;
            }
            &::after {
                bottom: -8px;
            }
            &::before {
                top: -8px;
            }
        }
    }
    .nav-btn--active {
        span {
            background-color: transparent;
            &::before {
                transform: rotate(45deg);
                top: 0;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 0;
            }
        }
    }
    &__nav-list-container {
        @include smaller-than-960 {
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 0;
            @include center();
            top: 0;
            background-color: #000;
            transition: .3s;
        }
        .list-wrapper {
            @include center-between();
            @include smaller-than-960 {
                @include center-left-column();
            }
            .list-item {
                margin-right: 30px;
                position: relative;
                overflow: hidden;
                height: 100px;
                @include center();
                @include smaller-than-960 {
                    height: 40px;
                }
                .list-link {
                    font-size: 15px;
                    height: 100%;
                    @include center();
                    @include smaller-than-960 {
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                }
                .warning-link {
                    color: gold;
                }
                &::before {
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: 0px;
                    transform: translateX(-105%);
                    left: 0;
                    background: $color1;
                    content: '';
                    transition: .1s;
                }
                &:hover::before {
                    transform: translateX(0px);
                }
            }
        }
    }
    .nav-list--active {
        height: 100vh;
    }
}