.info-section {
    width: 100%;
    @include center();
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    &__arrow-container {
        @include center-column();
        position: absolute;
    }
    &__decoration-text-container {
        position: absolute;
    }
    &__content-container {
        margin: 180px 0 100px 0;
        width: 100%;
        z-index: 1;
        padding-left: 15%;
        @include smaller-than-1215 {
            padding: 0 40px;
        }
        @include smaller-than-960 {
            padding: 0 20px;
        }
        .text-wrapper {
            position: relative;
            .info-heading {
                color: $color3;
            }
        }
    }
}