@import 
    '../fonts/fonts',
    '../colors/colors';


body, html {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    background: $color2;
    @include center-column();
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: $color1;
    font-family: $font3;
    text-transform: uppercase;
}

h2 {
    font-family: $font2;
    text-transform: uppercase;
    font-size: 100px;
    font-size: bold;
    line-height: 100px;
}

h3 {
    color: $color1;
    font-family: $font1;
    font-weight: bold;
    font-size: 20px;
}
p {
  color: $color5;
  font-family: $font1;
  font-size: 20px;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
    text-decoration: none;
    font-family: $font1;
    font-weight: medium;
    color: $color1;
}



// body::-webkit-scrollbar {
//     width: 5px;
//     background: #000;
//   }
// body::-webkit-scrollbar-thumb {
//     background: #fff;
    
// }


@keyframes shine {
  0% {
    background-position-x: -300%;
  }
  100% {
    background-position-x: 100%;
  }
}